body {
    background: rgb(63, 94, 251);
    background: -moz-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb", endColorstr="#fc466b", GradientType=1);
    font-family: sans-serif;
    color: white;
}

main {
    margin: 30px auto;
    display: flex;
    align-items: center;
    width: 730px;
    ;
}

.section-game {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.section-game button {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    overflow: hidden;
}

.section-game button:hover {
    cursor: pointer;
}

.section-board {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.statistics {
    border: 1px solid white;
    height: 60px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
    margin: 1rem;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.message {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

.statistics button {
    width: 175px;
    height: 40px;
    border-radius: 8px;
    background: rgb(98, 93, 180);
    background: -moz-radial-gradient(circle, rgba(98, 93, 180, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(98, 93, 180, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: radial-gradient(circle, rgba(98, 93, 180, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#625db4", endColorstr="#00d4ff", GradientType=1);
    color: white;
    font-weight: bold;
    font-size: larger;
}

.statistics button:hover {
    cursor: pointer;
    opacity: 0.8;
}

img{
    width: 80%;
}